<!-- start custom footer snippets -->
<a href="/sitemap/">Sitemap</a>

<script src="{{ '/assets/photoswipe/dist/umd/photoswipe.umd.min.js' | relative_url }}"></script>
<script src="{{ '/assets/photoswipe/dist/umd/photoswipe-lightbox.umd.min.js' | relative_url }}"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/js/jquery.justifiedGallery.min.js"></script>

<script>

  // import PhotoSwipeLightbox from 'photoswipe/dist/photoswipe-lightbox.esm.js';
  // // or 'photoswipe-dynamic-caption-plugin' if using package manager
  // import PhotoSwipeDynamicCaption from 'https://unpkg.com/photoswipe-dynamic-caption-plugin/photoswipe-dynamic-caption-plugin.esm.js';


  $('#gallery').justifiedGallery({
    rowHeight : 260,
    lastRow : 'nojustify',
    margins : 8
  }).on('jg.complete', function () {

    const lightbox = new PhotoSwipeLightbox({
      gallerySelector: '#gallery',
      gallery: '#gallery',
      children: 'a',
      pswpModule: PhotoSwipe,
      childSelector: '.pswp-gallery__item',
      paddingFn: (viewportSize) => {
        return {
          top: 30, bottom: 30, left: 70, right: 70
        }
      },
      pswpModule: () => import('photoswipe/dist/photoswipe.esm.js'),
      captionContent: (slide) => slide.data.pswpCaption || ''
    });


    lightbox.on('uiRegister', function() {
      lightbox.pswp.ui.registerElement({
        name: 'custom-caption',
        order: 9,
        isButton: false,
        appendTo: 'root',
        html: '',
        onInit: (el, pswp) => {
          pswp.on('change', () => {
            const currSlide = pswp.currSlide;
            const caption = currSlide.data?.pswpCaption || '';
            el.innerHTML = caption;
          });
        }
      });
    });
    const captionPlugin = new PhotoSwipeDynamicCaption(lightbox, {
      // Plugins options, for example:
      type: 'auto',
    });

    lightbox.init();
  });
</script>
<!-- end custom footer snippets -->




