{% include base_path %}

<!-- start custom head snippets -->
<meta name="keywords" content="Yuval Itzhaki, יובל יצחקי, Algorithms, Scheduling, Computer Science">
<link rel="shortcut icon" href="/images/favicon.ico">
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Yuval Itzhaki",
  "alternateName": [
    "Yuval Itzhaki – Algorithms Researcher",
    "יובל יצחקי"
  ],
  "url": "https://yuvalyitz.github.io/"
}
</script>
<!--Photoswipe  -->
<link rel="stylesheet" href="{{ '/assets/photoswipe/dist/photoswipe.css' | relative_url }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/css/justifiedGallery.min.css">

<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ base_path }}/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="{{ base_path }}/images/favicon-192x192.png">
<link rel="manifest" href="{{ base_path }}/images/manifest.json">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css">
<script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

<!-- end custom head snippets -->
