---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}


<div id="gallery" class="justified-gallery">

  <a href="/images/gallery/p1.png"
     data-pswp-width="2000"
     data-pswp-height="1333"
    data-pswp-caption="Screeding the shotcrete to a smooth finish.">
    <img src="/images/gallery/p1.png">
  </a>
  
  <a href="/images/gallery/p2.png"
     data-pswp-width="1365"
     data-pswp-height="2048">
    <img src="/images/gallery/p2.png">
  </a>


  <a href="/images/gallery/p3.png"
     data-pswp-width="2000"
     data-pswp-height="1333">
    <img src="/images/gallery/p3.png">
  </a>

  <a href="/images/gallery/p4.png"
     data-pswp-width="2000"
     data-pswp-height="1333">
    <img src="/images/gallery/p4.png">
  </a>

  <a href="/images/gallery/p5.png"
     data-pswp-width="2000"
     data-pswp-height="1333">
    <img src="/images/gallery/p5.png">
  </a>

</div>
